<footer class="w-100">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-4 px-0">
                <h5>Subscribe to our mailing list</h5>
                <form action="https://brunswickunited.us14.list-manage.com/subscribe/post?u=48ecc6fb007c65219039d8e0d&amp;id=6bd2112e1c"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                      target="_blank" novalidate>
                    <div class="row">
                        <div class="col-12">
                            <input name="EMAIL" type="email" class="form-control" placeholder="Your email address" required="required" style="display: inline; vertical-align: middle; width: 16rem">
                            <button type="submit" class="btn btn-primary" style="display: inline">Subscribe</button>
                        </div>
                    </div>
                    <div class="row" id="mce-responses">
                        <div class="response text-warning" id="mce-error-response" style="display:none"></div>
                        <div class="response text-success" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                              name="b_48ecc6fb007c65219039d8e0d_6bd2112e1c"
                                                                                              tabindex="-1" value=""></div>
                </form>
            </div>
        </div>
    </div>
</footer>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
