<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid px-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle"
                aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-toggle">
            <a class="navbar-brand" href="#"><img src="/img/logo.svg" alt="BrunswickUNITED logo" width="128"></a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link {{{homeNavLink}}}" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{{aboutNavLink}}}" href="/about/">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{directoryNavLink}}" href="/directory/">Directory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{getInvolvedNavLink}}" href="/get-involved/">Get Involved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{townGovernmentNavLink}}" href="/town-government/">Town government</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
